.customizerContainer {
    font-family: 'Space Mono', monospace;
}

.customizerMain {
    background: url("../../images/DotPattern.png");
    height: 100%;
}

.customizerFlex {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 1rem;
}

.customizerCanvas {
    min-width: 60vw; 
    height: 85vh;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: black;
}

.customizerControls {
    background-color: rgba(56, 56, 56, 0.727);
    color: whitesmoke;
    padding: 10px;
    border-style: solid;
    border-color: black;
    min-width: 30vw;
}