.customizerContainer {
    height: 90vh;
    font-family: 'Space Mono', monospace;
}

.customizerMain {
    background: url("../../images/DotPattern.png");
    /* background-size: cover; */
    height: 100%;

    display: flex;
    justify-content: flex-start;
}

.customizerCanvas {
    margin: 1rem;
    width: 60vw; 
    height: 85vh;
    background-color: rgb(56, 56, 56);
    
    position: absolute;
    border-style: solid;
    border-color: black;

}