.heroMain {
    background-color: rgb(0, 0, 0);
    height: 100vh;

}

.heroImage {
    opacity: 1;
    height: 100%;

    background: url("../images/blueTexture.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

}

.heroContent {
    padding: 2rem 8rem 2rem 8rem;
    font-size: 1.8rem;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 2rem;
    background: rgba(255, 255, 255, 0.238);
    backdrop-filter: blur(25px);
    border-radius: 200px 0px 200px 0px;
    transition: border-radius 1s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.heroContent:hover {
    transition: border-radius 1s;
    border-radius: 0px 200px 0px 200px;

}

.heroContent p {
    padding-bottom: .1rem;
    margin: 0;
    font-family: 'Cinzel', serif;

}

.heroContent h1 {
    padding-bottom: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-family: 'Space Mono', monospace;
}

.heroContent button {
    
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 2rem;
    border-radius: 50px 0px 50px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    transition: border-radius 1s, background-color 1s;
    font-family: 'Space Mono', monospace;

}

.heroContent button:hover {
    transition: border-radius 1s, background-color 1s;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 0px 50px 0px 50px;

}

.bigType {
    font-size: 50rem;
    margin: 0px;
    line-height: 25rem;
    position: absolute;
    font-weight: 100;
    color: rgba(240, 248, 255, 0.299);
    font-family: Andale Mono, monospace;	
    user-select: none;
}

.bigType2 {
    font-size: 55rem;
    padding-top: 10px;
    padding-left: 200px;
    margin: 0px;
    line-height: 25rem;
    position: absolute;
    font-weight: 100;
    color: rgba(206, 232, 255, 0.154);
    font-family: Andale Mono, monospace;
    user-select: none;

}