.navstyles {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(82, 82, 82);
    font-family: 'Space Mono', monospace;

    /* backdrop-filter: blur(50px); */
    /* backdrop-filter: hue-rotate(120deg); */
    /* mix-blend-mode: darken; */






    /* DISABLED TEMP TO EASE PERFORMANCE PRE OPTIMIZATION */
    /* backdrop-filter: blur(15px); */






    
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    
    border-color: rgb(255, 255, 255);
    border-style: solid;
    


    position: fixed;
    font-size: 2.5rem;
    width: 100%;
    z-index: 999;
    
}

.navIcon {
    display: none;
    /* background-color: aqua; */
}

ul {
    display: contents;
    margin-top: 0px;
    margin-bottom: 0;
    height: 80px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

    
    
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    transition: background-color 1s, color 1s;
    color: rgb(57, 57, 57);
    /* backdrop-filter: invert(100%); */
    /* color: rgba(240, 248, 255, 0.084); */
    


    
}

li:hover {
    
    background-color: rgb(255, 255, 255);
    color: rgb(35, 35, 35);
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .navstyles {
        backdrop-filter: none;

    }
    li {
        display: none;
    }
    ul {
        justify-content: flex-end;
        padding-right: 3rem;
    }
    .navIcon {
        display: block;
        /* background-color: blue; */
        justify-self: flex-end;
    }
}


