.navstyles {
    background-color: rgb(35, 35, 35);
    color: rgb(230, 230, 230);
    font-family: Gill Sans, sans-serif;
    
    
    font-size: 1.5rem;
}



ul {
    margin-top: 0px;
    height: 50px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    
}

li:hover {
    background-color: gainsboro;
    color: rgb(35, 35, 35);
    cursor: pointer;
}